---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Table from "../components/Table.jsx";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
    </style>
  </head>
  <body>
    <Header />
    <main class="mx-auto container">
      <div class="max-w-7xl mx-auto mt-4">
        <h2 class="p-2 text-lg font-bold">Interview Schedule</h2>
        <Table client:load />
      </div>
    </main>
    <Footer />
  </body>
</html>
