---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="grid h-screen place-items-center">
		<div class="text-center items-center justify-items-center">
      <img class="brand-icon mx-auto" src="/assets/brand.svg" alt="">
      <a class="underline" href="/admission">Interview Schedule 2023</a>
    </div>
    </div>
    <main></main>
    <Footer />
  </body>
</html>
