---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faStar } from '@fortawesome/free-solid-svg-icons'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="grid h-screen place-items-center">
		<div class="grid text-center items-center justify-items-center">
      <img class="mx-auto h-11 my-3" src="/assets/brand.svg" alt="">
      <a class="underline flex place-content-center" href="/admission"><FontAwesomeIcon icon={faStar}  className="my-1 mr-1 w-4 h-4" /> Admission Results 2023</a>
    </div>
    </div>
    <main></main>
    <Footer />
  </body>
</html>
