---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="border">
	<header class="mx-auto flex max-w-7xl items-center justify-between pt-0 pb-0 pl-6 pr-6 lg:px-8">
		<img class="brand-icon" src="/assets/brand.svg" alt="">
	</header>
</div>